<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style.css">
    </head>
<body>

    <div class="album page">
        <%- include('navbar') %>

        <div class="content">
            <h1 style="text-align: center;">Album</h1>

            <div class="album-info">
                <div class="text-info">
                    <h3 class="albumName">Album name</h3>
                    <ul>
                        <li>album: <span>blah blah</span></li>
                        <li>artist: <span>blah blah</span></li>
                        <li>genre: <span>blah blah</span></li>
                        <li style="margin-bottom: 60px;">price: <span>blah blah</span></li>

                        <li>year: <span>blah blah</span></li>
                        <li>description: <span>blah blah</span></li>
                    </ul>

                    <button class="btn change-btn" style="margin-right: 50px;"><a href="#!">Change</a></button>
                    <button class="btn change-btn"><a href="#!">Delete</a></button>
                </div>
                <div class="album-cover">
                    <img src="https://picsum.photos/400/400" alt="Album Cover">
                </div>
            </div>
        </div>
    </div>

</body>
</html>