<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style.css">
    </head>
<body>

    <div class="allAlbums page">
        <%- include('navbar') %>

        <div class="content">
            <h1 style="text-align: center;">All Albums</h1>

            <table  class="allAlbumsTable">
                <thead>
                  <tr>
                    <th></th>
                    <th>album</th>
                    <th>artist</th>
                    <th>genre</th>
                    <th>price</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr>
                    <td><img src="https://picsum.photos/150/150" alt="Album Cover"></td>
                    <td><a href="#!">Exegesis</a></td>
                    <td>Tacoma Narrows Bridge Disaster</td>
                    <td>Post-rock</td>
                    <td>$20</td>
                  </tr>

                  <tr>
                    <td><img src="https://picsum.photos/150/150" alt="Album Cover"></td>
                    <td><a href="#!">Exegesis</a></td>
                    <td>Tacoma Narrows Bridge Disaster</td>
                    <td>Post-rock</td>
                    <td>$20</td>
                  </tr>
                </tbody>
            </table>

        </div>
    </div>

</body>
</html>